
<!DOCTYPE html>
{% comment %}
  Main page to authenticate users.
{% endcomment %}
{% load static %}
{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap-fluid-adj.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
  <title>Trial Boat | Login</title>
{% endblock %}

{% block body %}
  <header>
    <h1>Django Consultants</h1>
    <h2>Login Page</h2>
  </header>

    <a href="/register">
        <button class="btn btn-primary">Register Here</button>
    </a>

  <section>
    {% if form.errors %}
      <p>Your username and password didn't match, please try again.</p>
    {% endif %}

    <form method="post" action=".">
      {% csrf_token %}
      <p>
        <label for="id_username">Username:</label>
        {{ form.username }}
      </p>
      <p>
        <label for="id_password">Password:</label>
        {{ form.password }}
      </p>
      {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
      {% else %}
          <input type="hidden" name="next" value="/home"/>
      {% endif %}
      <input type="submit" value="login" />
    </form>
  </section>
{% endblock %}
</html>