<!DOCTYPE html>
{% comment %}
  Main page to authenticate users.
{% endcomment %}
{% load static %}
{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap-fluid-adj.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
  <title>Trial Boat | Login</title>
{% endblock %}
<div class="container">
{% block body %}
    <body style="background:url('{{ STATIC_URL }}images/background.JPG')">
  <header>
      <h1>Trial Boat</h1>
  </header>


  <div class="center-block" id="holderblock"
  ">
  <section>
    {% if form.errors %}
      <p>Your username and password didn't match, please try again.</p>
    {% endif %}
      <form role="form" class="form-horizontal" method="post" action=".">
      {% csrf_token %}
          <label class="customlabel" for="id_username"><h4>Username:</h4></label>
        {{ form.username }}
          <label for="id_password"><h4>Password:</h4></label>
          {{ form.password }}
      {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
      {% else %}
          <input type="hidden" name="next" value="/home"/>
      {% endif %}
          <input type="submit" id="somebutton" class="btn btn-lg btn-success" value="Login"/>
          <a href="/register">
              <button class="btn btn-lg btn-success" id="registerbutton">Register</button>
          </a>
    </form>
      </div>
  </section>
    </div></body>
{% endblock %}
</html>
